<div class="border-bottom row" style="margin: 16px; padding-bottom: 8px;">
  <div class="col-9">
    <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px;">
      {{ job['title'] }}
    </h4>
    <div>
      <b>Location:</b> {{ job['location'] }}
    </div>
    {% if 'salary' in job %}
    <div>
      <b>Salary:</b> {{ job['salary'] }}
    </div>
    {% endif %}
  </div>
  <div class="col-3 text-right">

    
    <a href="mailto:hello@copycat.com?subject=Application%20For%20{{job['title']}}&body=My%20name%20%3A%0D%0AMy%20Resume%20Link%20%3A%0D%0AMy%20Linked%20In%20%3A" type="button" class="btn btn-outline-primary align-middle">
      
      Apply
      
    </a>

    
  </div>
</div>

